@{
    ViewData["Title"] = "Classmates";
}

<div class="container-lg col-md-6">
    <div class="text-center mt-2 pt-5">
        <h1>About the Class</h1>
        <p class="aboutClass">
            The class started on August 28, 2023. Throughout the course we have learned HTML, CSS, Bootstrap, JavaSript, C#, JQuery, and SQL. We will continue to master these languges to better ourselves as Developers
        </p>
    </div>
</div>
<div class="container mx-auto">
    <div class="row mx-auto mb-5">
        <div class="card classmateCard" style="width: 18rem;">
            <img src="~/img/GabrielRamirez.jpg" alt="Gabriel Ramirez">
            <div class="card-body">
                <h5 class="card-title">Gabriel Ramirez</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/gabriel-ramirez-29b49855/" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="card classmateCard mx-auto" style="width: 18rem;">
            <img src="~/img/HarrisonSmith.jpg" alt="Harrison Smith">
            <div class="card-body">
                <h5 class="card-title">Harrison Smith</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/harrison-smith-74a01b219/" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="card classmateCard" style="width: 18rem;">
            <img src="~/img/MaryKateBaldwin.jpg" alt="Mary Kate Baldwin">
            <div class="card-body">
                <h5 class="card-title">Mary Kate Baldwin</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/mary-kate-b-940ba4195/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="row mx-auto mb-5">
        <div class="card classmateCard " style="width: 18rem;">
            <img src="~/img/JohnBlack.jpg" alt="John Black">
            <div class="card-body">
                <h5 class="card-title">John Black</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/john-black-1b0261182/" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="card classmateCard mx-auto" style="width: 18rem;">
            <img src="~/img/ScottCousino.jpg" alt="Scott Cousino">
            <div class="card-body">
                <h5 class="card-title">Scott Cousino</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/scott-cousino-a5bb66295/" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="card classmateCard" style="width: 18rem; overflow:hidden;">
            <img src="~/img/Nathan.jpg" alt="Nathan Boehm" >
            <div class="card-body">
                <h5 class="card-title">Nathan Boehm</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/nathanboehm/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="card classmateCard mx-auto" style="width: 18rem;">
            <img src="~/img/Colton.jpg" alt="Colton Hammond">
            <div class="card-body">
                <h5 class="card-title">Colton Hammond</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/colton-hammond-a39b2b295/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</div>