@{
    ViewData["Title"] = "Home";
}

<!-- About me Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row h-100">
                    <div class="col-5"></div>
                    <div class="col-6 align-content-center wow fadeInDown" data-wow-delay="0.1s">
                        <img class="img-fluid" src="img/me.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align self-end wow fadeIn" data-wow-delay="0.5s">
                <p class="fw-medium text-uppercase text-primary mb-2">About Me</p>
                <h1 class="display-5 mb-4">My Beginnings As A Programmer</h1>
                <p class="mb-4 aboutClass">
                    I first gained an interest in programming in my junior year of highschool. It started out with
                    taking an intro class into programming. I instantly fell in love with it and continued with the passion. In my senior year of highschool I took a year long class that covered the basics of HTML, CSS, a tiny bit of JavaScript, SQL, and Python. After highschool I decided that programmimg was what I wanted to do for a job and joined Centriq's Full Stack Coding Program and began learning what it takes to become a developer.
                </p>
                <div class="row pt-2">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">Email Me</p>
                                <h5 class="mb-0">benwyattg@gmail.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                <i class="bi bi-linkedin text-white"></i>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">LinkedIn</p>
                                <h5 class="mb-0">
                                    <a href="https://www.linkedin.com/in/benjamin-grochowsky-501542295/" class="mb-0">LinkedIn</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About me End -->