@{
    ViewData["Title"] = "Resume";
}

<div class="text-center mb-3">
    <h1 class="resume-title">My Resume</h1>
    <hr style="height:3px;" />
    <br />
    <br />
</div>
<div class="text-center mb-3">
    <h2>Technical & Professional Skills</h2>
    <hr class="col-md-6 offset-md-3" style="height: 3px;" />
    <div class="fs-5">
        <p><strong>Front End:</strong>  HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</p>
        <p><strong>Middle Tier:</strong>  C#, .NET Core MVC, LINQ, EF, Razor Pages</p>
        <p><strong>Back End:</strong>  ADO.NET, SQL, SQL Server</p>
        <p><strong>Tools:</strong>  Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</p>
        <p><strong>Professional Skills:</strong> Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming</p>
    </div>
    <br />
    <br />
</div>
<div class="text-center mb-3">
    <h2>Independent Development Projects</h2>
    <hr class="col-md-6 offset-md-3" style="height: 3px;" />
    <div class="fs-5">
        <p>
            <strong>Personal Site:</strong>  A personal portfolio created using a template made by HTML Codex. I modified said template using
            HTML, CSS, JavaScript, and C# to give it my own touch and feel. Using C# I had added email functionality in order for anybody
            willing to get in contact with me.
        </p>
        <p>
            <strong>StoreFront:</strong>  Created a secure application for managing product data. Application is built to simulate an online
            store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.
        </p>
    </div>
    <br />
    <br />
</div>
<div class="text-center mb-3">
    <h2>Technical Training & Education</h2>
    <hr class="col-md-6 offset-md-3" style="height: 3px;" />
    <h3>Centriq Taining - Full Stack Coding Program</h3>
    <p><em>August 2023 - December 2023</em></p>
    <div class="fs-5">
        <h4>Core Competencies</h4>
        <p>NET Core MVC Framework</p>
        <p>Troubleshooting & Debugging</p>
        <p>Source Control</p>
        <p>Agile/Scrum (Created Team Project)</p>
        <p>Website Deployment</p>
        <p>Pair Programming</p>
        <p>Code Review</p>
    </div>
    <br />
    <h4>Shawnee Mission South Highschool</h4>
    <p><em> Fall 2019 -  Spring 2023</em></p>
    <br />
    <br />
</div>
<div class="text-center mb-3">
    <h2>Work Experience</h2>
    <hr class="col-md-6 offset-md-3" style="height: 3px;" />
    <h3>Subway | Overland Park, Kansas </h3>
    <h5>Sandwich Artist</h5>
    <p><em>July 2021 - November 2021</em></p>
    <div class="fs-5">
        <p>Prepared product for customers, ensuring quality, hygiene, and timely service in a fast-paced environment.</p>
        <p>Maintained a clean and organized store</p>
        <p>Consistently delivered professional and friendly customer service, creating a positive and welcoming environment to enhance the customers overall experience</p>
    </div>
    <h3>Overland Park Convention Center | Overland Park, Kansas </h3>
    <h5>Event Services</h5>
    <p><em>September 2022 - Present</em></p>
    <div class="fs-5">
        <p>Swiftly assembled conventions and prepared for any sudden change of plans</p>
        <p>Consistently delivered professional and friendly customer service, creating a positive and welcoming environment to enhance the customers overall experience</p>
        <p>Consistently prepared for any accidents that occur </p>
    </div>
    <br />
    <br />
    <br />
</div>